![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [1]:
#Escribe el título del proyecto en Markdown
titulo = "El turismo en Andalucía en el año 2023"

### TEMA

In [2]:
# Describe brevemente el tema del proyecto en Markdown
tema = "Analizamos el turismo en Andalucía, tanto el nacional como el proveniente del extranjero, en todo el año 2023"

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [3]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "El turismo nacional deja más ganacias que el turismo extranjero"

In [4]:
# Escribe más hipótesis si las hubiera en Markdown
hipotesis_2 = "El turismo nacional es de carácter 'cultural' o 'deportivo' y el extranjero es de carácter 'sol y playa'"
hipotesis_3 = "Tenemos menos visitantes extranjeros de los países colindantes con respecto a países más lejanos"
hipotesis_4 = "Los visitantes extranjeros de países colindantes vienen por estudios (erasmus)"

nota = "También valoro la opción de ampliar el marco a más años para poder comprar e incluso poder ver como afecto la pandemia al turismo en Andalucía"

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [5]:
import pandas as pd

# Guarda en variables los datasets y su fuente
df_1 = pd.read_csv("./data/Gasto de los turistas internacionales según comunidad autónoma de destino principal.csv", encoding = "latin1", sep = ";")
fuente_1 = "INE: https://www.ine.es/jaxiT3/Datos.htm?t=10839"

df_2 = pd.read_csv("./data/Gasto de los turistas internacionales según país de residencia.csv", encoding = "latin1", sep = ";")
fuente_2 = "INE: https://www.ine.es/jaxiT3/Datos.htm?t=10838"

df_3 = pd.read_csv("./data/Gasto de los turistas internacionales según motivo principal del viaje.csv", encoding = "latin1", sep = ";")
fuente_3 = "INE: https://www.ine.es/jaxiT3/Datos.htm?t=23995"

df_4 = pd.read_csv("./data/Personas viajeras por edad, según destino y duración del viaje.csv", encoding = "latin1", sep = ";")
fuente_4 = "INE: https://www.ine.es/jaxiT3/Datos.htm?t=25756"

df_5 = pd.read_csv("./data/Viajes, pernoctaciones, duración media y gasto por destino principal (extranjero y comunidades autónomas).csv", encoding = "latin1", sep = ";")
fuente_5 = "INE: https://www.ine.es/jaxiT3/Datos.htm?t=24927"

df_6 = pd.read_csv("./data/Viajes, pernoctaciones, duración media y gasto por tipo de destino principal.csv", encoding = "latin1", sep = ";")
fuente_6 = "INE: https://www.ine.es/jaxiT3/Datos.htm?t=24919"

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [6]:
# Primer dataset
df_1.head()

,Comunidades autónomas,Gastos y duración media de los viajes,Tipo de dato,Periodo,Total
0,01 Andalucía,Gasto total,Dato base,2023M12,"882,21"
1,01 Andalucía,Gasto total,Dato base,2023M11,"920,55"
2,01 Andalucía,Gasto total,Dato base,2023M10,"1.499,58"
3,01 Andalucía,Gasto total,Dato base,2023M09,"1.625,73"
4,01 Andalucía,Gasto total,Dato base,2023M08,"1.975,34"

In [7]:
# Segundo dataset
df_2.head()

,País de residencia,Tipo de dato,Gastos y duración media de los viajes,Periodo,Total
0,Reino Unido,Dato base,Gasto total,2023M12,"1.091,47"
1,Reino Unido,Dato base,Gasto total,2023M11,"1.067,86"
2,Reino Unido,Dato base,Gasto total,2023M10,"1.927,88"
3,Reino Unido,Dato base,Gasto total,2023M09,"2.246,00"
4,Reino Unido,Dato base,Gasto total,2023M08,"2.713,63"

In [8]:
# Tercer dataset
df_3.head()

,Motivo del viaje,Gastos y duración media de los viajes,Tipo de dato,Periodo,Total
0,"Negocio, motivos profesionales",Gasto total,Dato base,2023,"6.452,46"
1,"Negocio, motivos profesionales",Gasto total,Tasa de variación anual,2023,"17,99"
2,"Negocio, motivos profesionales",Gasto medio por persona,Dato base,2023,1.337
3,"Negocio, motivos profesionales",Gasto medio por persona,Tasa de variación anual,2023,"7,84"
4,"Negocio, motivos profesionales",Gasto medio diario por persona,Dato base,2023,216

In [9]:
# Cuarto dataset
df_4.head()

,Edad,Duración,Destino,Tipo de dato,Periodo,Total
0,De 15 a 24 años,De 1 a 3 noches,Solo España,Porcentaje sobre personas de la categoría,2023,NaN
1,De 15 a 24 años,De 1 a 3 noches,Solo España,Porcentaje sobre el total de viajeros,2023,NaN
2,De 15 a 24 años,De 4 o más noches,Solo España,Porcentaje sobre personas de la categoría,2023,NaN
3,De 15 a 24 años,De 4 o más noches,Solo España,Porcentaje sobre el total de viajeros,2023,NaN
4,De 25 a 34 años,De 1 a 3 noches,Solo España,Porcentaje sobre personas de la categoría,2023,NaN

In [10]:
# Quinto dataset
df_5.head()

,Destino,Concepto turístico,Tipo de dato,Periodo,Total
0,01 Andalucía,Viajes,Valor absoluto,2023,31.796.819
1,01 Andalucía,Viajes,Distribución porcentual,2023,"17,1"
2,01 Andalucía,Viajes,Variación anual,2023,"13,07"
3,01 Andalucía,Duración media de los viajes,Valor absoluto,2023,"4,13"
4,01 Andalucía,Duración media de los viajes,Distribución porcentual,2023,NaN

In [11]:
# Sexto dataset
df_6.head()

,Tipo de destino,Concepto turístico,Tipo de dato,Periodo,Total
0,Dentro de la Comunidad Autónoma,Viajes,Valor absoluto,2023,81.330.805
1,Dentro de la Comunidad Autónoma,Viajes,Distribución porcentual,2023,"43,8"
2,Dentro de la Comunidad Autónoma,Viajes,Variación anual,2023,"2,87"
3,Dentro de la Comunidad Autónoma,Duración media de los viajes,Valor absoluto,2023,"2,96"
4,Dentro de la Comunidad Autónoma,Duración media de los viajes,Distribución porcentual,2023,NaN